.about-author
  margin-bottom -75px
  margin-left -100px
  margin-right -100px
  padding 50px 70px
  text-align center
  background almostWhite
  border-bottom-left-radius primaryBorderRadius
  border-bottom-right-radius primaryBorderRadius

  @media screen and (max-width: 767px)
    margin-left -20px
    margin-right -20px
    border-radius 0
    margin-bottom -25px

  &.about-author--page
    background white
    margin 0

  .about-author__img
    border-radius 50%
    display inline-block
    margin-right 45px
    vertical-align middle

    @media screen and (max-width: 767px)
      margin-right 0

.about-author__info
  display inline-block
  vertical-align middle
  text-align left
  max-width 480px

  p
    color: #333

  @media screen and (max-width: 767px)
    text-align center

  .about-author__desc
    font-family bodyFont
    color textColor

.about-author__title
  font-family headingFont
  color primaryHeading
  rem(36px)

.about-author__desc
  font-family bodyFont
  color textColor
