.single-page
  background white
  float left
  border-radius primaryBorderRadius
  box-shadow primaryBoxShadow
  height 100%
  padding 75px 70px
  width 100%
  margin-bottom 80px

  @media screen and (max-width: 767px)
    padding 25px 20px
    margin-left -20px
    margin-right -20px
    border-radius 0
    width calc(100% + 40px)

.single-page__header
  font-family headingFont
  color primaryHeading
  margin-bottom 50px

.single-page__content
  color textColor
  rem(16px)

.page-title
  margin: 40px 0
  rem(30px)
  color: mainColor
  font-weight: fontWeightExtraBold

.page-section-works
  .works-list-item
    width: 49%
    display: inline-block
    vertical-align: middle

    &-link
      display: block

    .work-description
      width: calc(100% - 40px);
