.post-sidebar
    display inline-block
    position: relative
    vertical-align: top
    margin-left: 10px
    width: 240px

#toc-container
    position: absolute
    max-width: 240px
    top: 0

    .toc-title
        font-family: openFont
        margin-bottom: 10px
        display: block
        color hightlightColor

    &.fixed-element
        position: fixed
        top: 30px

    li
        line-height: 1.5

        &.active
            a
                color white

    ol
        margin-top: 0
        margin-bottom: 0
        margin-left: 15px

        li
            margin: 0
            margin-bottom: 10px

            a
                font-size 10px
                color hightlightColor

                &:hover
                    color white

    ol > li > a
        display: block
        margin-bottom: 10px

    > ol
        padding: 0
        margin: 0

    @media screen and (max-width: 1025px)
        &
            display: none
