.post__details
    width 200px
    height 150px
    border-top-right-radius primaryBorderRadius
    border-bottom-right-radius primaryBorderRadius
    display flex
    flex-direction column
    @extend $main-gradient

    @media screen and (max-width: 767px)
        width 100%
        flex-direction row
        justify-content space-between
        align-items center
        border-top-right-radius 0
        border-bottom-right-radius 0
        height: auto
        padding: 8px 20px

.post__category
    font-family openFont
    font-weight: 700
    align-self center
    margin-top -40px
    line-height 85px
    color categoryColor
    rem(60px)
    @media screen and (max-width: 767px)
        rem(24px)
        line-height: 1.5
        margin-top 0

.post__date
    color white
    font-family openFont
    align-self center
    margin-bottom 8px
    rem(16px)

    @media screen and (max-width: 767px)
        margin-bottom 0
        rem(12px)

.post__reading-time
    margin-bottom 4px
    display block
    margin 6px 0

    @media screen and (max-width: 767px)
        margin 0

.post__reading-time,
.post__comments
    font-family openFont
    color white
    padding-left 20px
    rem(12px)

    @media screen and (max-width: 767px)
        padding-left 0

.post__time-icon,
.post__comments-icon
    margin-right 6px

.post__time-icon,
.post__comments-icon
    width 16px

    @media screen and (max-width: 767px)
        width 13px
