<li class="repositories-list-item">
  <div class="repository-text-details">
    <h4 class="repository-title">Gitbook ES6 e além</h4>
    <p class="repository-description">Anotações sobre as novas features do Javascript</p>
  </div>
  <div class="repository-star">
    <div class="star-value">2</div>
    <div class="star-icon">
      {% include home/svg-star.html %}
    </div>
  </div>
  <div class="repository-footer">
    <p class="language-repository language-repository-{{include.language}}">{{include.language}}</p>
    <p class="date-updated">Atualizado há 6 dias atrás</p>
  </div>
</li>
