<li class="repositories-list-item">
  <a href="{{ repository.html_url }}" class="repositories-list-item-link" target="_blank">
    <div class="repository-text-details">
      <h4 class="repository-title">{{repository.name}}</h4>
      <p class="repository-description">{{ repository.description }}</p>
    </div>
    <div class="repository-star">
      <div class="star-value">{{repository.stargazers_count}}</div>
      <div class="star-icon">
        {% include home/svg-star.html %}
      </div>
    </div>
    <div class="repository-footer">
      <p class="language-repository language-repository-{{repository.language | downcase}}">
        {{repository.language}}
      </p>
      <p class="date-updated">Atualizado em {{repository.updated_at | date: "%d/%m/%Y"}}</p>
    </div>
  </a>
</li>
