<div class="home-section section-posts">
  <h3 class="home-section-title">Últimos posts</h3>
  <ul class="posts-list">
    <li class="posts-list-item">
      <a href="#" class="posts-list-item-link" target="_blank">
        <p class="post-title">DevOps e análise</p>
        <p class="post-description">Um resumo dos meus estudos sobre DevOps</p>
        <div class="post-footer">
          <p class="post-date">01/02/2017</p>
          <span class="data-divisor"></span>
          <a href="#" target="_blank" class="post-author">@rperiago</a>
        </div>
      </a>
    </li>
    <li class="posts-list-item">
      <a href="#" class="posts-list-item-link" target="_blank">
        <p class="post-title">Desenvolvimento no GE</p>
        <p class="post-description">Um breve relato sobre o fluxo de trabalho do Globoesporte do
          ponto de vista de um desenvolvedor</p>
        <div class="post-footer">
          <p class="post-date">01/02/2017</p>
          <span class="data-divisor"></span>
          <a href="#" target="_blank" class="post-author">@gabrielgodoy</a>
        </div>
      </a>
    </li>
  </ul>
  <div class="button-mais-trabalhos">
    <div class="button-plus-icon">
      {% include home/svg-plus-circle.html %}
    </div>
    <p class="button-caption">ver todos os posts</p>
  </div>
</div>
