<div class="home-section section-works">
  <h3 class="home-section-title">Trabalhos</h3>
  <ul class="works-list">
    <li class="works-list-item">
      <a href="#" class="works-list-item link" target="_blank">
        <div class="work-picture-container">
          <img src="assets/images/work-1.jpg" alt="" class="work-picture">
        </div>
        <p class="work-description">Guia da Fórmula 1: veja as chances de todos os pilotos e
          equipes</p>
      </a>
    </li>

    <li class="works-list-item">
      <a href="#" class="works-list-item-link" target="_blank">
        <div class="work-picture-container">
          <img src="assets/images/work-2.jpg" alt="" class="work-picture">
        </div>
        <p class="work-description">Corrida dos 100 gols na Champions: Cristiano Ronaldo x
          Messi</p>
      </a>
    </li>

    <li class="works-list-item">
      <a href="#" class="works-list-item link" target="_blank">
        <div class="work-picture-container">
          <img src="assets/images/work-3.jpg" alt="" class="work-picture">
        </div>
        <p class="work-description">Guia aponta chances na Libertadores</p>
      </a>
    </li>
  </ul>
  <div class="button-mais-trabalhos">
    <div class="button-plus-icon">
      {% include home/svg-plus-circle.html %}
    </div>
    <p class="button-caption">ver mais trabalhos</p>
  </div>
</div>
