<div class="home-section section-escalacao">
  <h3 class="home-section-title">Escalação</h3>
  <ul class="escalacao-list">
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
    <li class="escalacao-list-item">
      <a href="#" class="escalacao-list-item-link" target="_blank">
        <div class="escalacao-picture-container">
          <img src="assets/images/escalacao-avatar.jpg" alt="" class="escalacao-avatar-picture">
        </div>
        <p class="escalacao-username">@carloslemos</p>
      </a>
    </li>
  </ul>
</div>
