lightGreen = #4dba0c
green = #3b9c00
darkGreen = #267700

// Colors | General
mainColor = #3b9c00
almostWhite = #f4f4f4
hightlightColor = #9dce80
categoryColor = #9dce80

// Colors | Elements
primaryHeading = #3b9c00
textColor = #333
lighterTextColor = #666
veryLightTextColor = #a7a7a7

// Tomorrow night theme
tmBackground = #1d1f21
tmCurrent_Line = #282a2e
tmSelection = #373b41
tmForeground = #c5c8c6
tmComment = #969896
tmRed = #cc6666
tmOrange = #de935f
tmYellow = #f0c674
tmGreen = #b5bd68
tmAqua = #8abeb7
tmBlue = #81a2be
tmPurple = #b294bb
