.escalacao-list
  margin: 0
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

  .escalacao-list-item
    list-style none
    width: 22%
    margin: 0 8% 30px

    &:first-child
      margin-left: 0

    &-link
      display: block
      text-align: center

    &:nth-child(3n)
      text-align: right
      margin-right: 0

    &:nth-child(3n+2)
      text-align: center

    &:nth-child(3n+4)
      margin-left: 0

    .escalacao-username
      text-align: center

    .escalacao-picture-container,
    .escalacao-description
      display: inline-block
      vertical-align: middle

    .escalacao-picture-container
      width: 85px
      height: 85px
      border-radius: 50%
      overflow: hidden
      margin-bottom: 5px
      border 1px solid #e3e3e3

      .escalacao-picture
        width: 100%
        height: auto

      +below(verySmall)
        width: 45px
        height: 45px

    .escalacao-username
      rem(14px)
      color: veryLightTextColor

      +below(verySmall)
        rem(11px)
