.works-list
  margin: 0

  .works-list-item
    list-style none

    .work-picture-container,
    .work-description
      display: inline-block
      vertical-align: middle

    .work-picture-container
      width: 160px
      border-radius: 3px
      overflow: hidden
      margin-right: 20px
      border 1px solid #e3e3e3

    .work-description
      width calc(100% - 190px)
      rem(14px)
      color: veryLightTextColor
      font-weight fontWeightBold
