.post-list__card
  display flex
  align-items center

  @media screen and (max-width: 767px)
    padding 30px 0
    display block

    &:first-child
      padding-top 0

.post-list
  @media screen and (max-width: 767px)
    margin-left: -20px
    margin-right: -20px

.post__title,
.category__title
  color primaryHeading
  font-family headingFont
  rem(24px)

.post__desc
  rem(16px)
  font-family bodyFont
  line-height 28px
  color textColor

.post-list__main
  box-shadow primaryBoxShadow
  border-radius primaryBorderRadius
  display flex
  align-items center
  background: white
  position relative
  min-height 185px
  width calc(100% - 200px)

  @media screen and (max-width: 1024px)
    padding 30px 0
    width 100%

  @media screen and (max-width: 767px)
    box-shadow none
    border-radius 0
    padding 30px 0 0
    display block

.post__link
  height 100%
  width calc(100% - 110px)
  padding: 0 20px 0 55px
  display flex
  align-items center

  @media screen and (max-width: 767px)
    padding: 0 20px 0 20px;
    width 100%

.category__title
  margin-bottom 10px

.box-item
  border-bottom 1px dotted #66cdf7
  padding 0 0 20px

  &:last-child
    border-bottom none
