baseFontSize = 16px
baseFontWeight = 400
smallFontSize = baseFontSize * 0.875
baseLineHeight = 1.5
spacingUnit = 30px
containerMaxWidth = 1200px
sidePadding = 20px
primaryBorderRadius = 4px
primaryBoxShadow = 0px 2px 4px 0px rgba(0, 0, 0, 0.2)

// Type
openFont = 'Open Sans', sans-serif
codeFont = 'Source Code Pro', sans-serif
headingFont = 'Open Sans', sans-serif
bodyFont = 'Open Sans', sans-serif

fontWeightLight = 300
fontWeightRegular = 400
fontWeightSemiBold = 600
fontWeightBold = 700
fontWeightExtraBold = 800

// Gradient
$main-gradient
  background-image: linear-gradient(#347a09 0%, #2a6804 100%)

// Use media queries like this:
// @include media-query(on-palm) {
//     .wrapper {
//         padding-right: spacingUnit / 2
//         padding-left: spacingUnit / 2
//     }
// }

// media-query(device) {
//   @media screen and (max-width: device) {
//    @content
//   }
// }
