code
  color: #fdce93;
  background-color: tmBackground;
  font-family: codeFont
  padding: 3px 4px 6px
  font-size: inherit

  @media screen and (max-width: 767px)
    word-break: break-all
  rem(12px)

.hljs-comment
  opacity: .4

pre
  margin: 30px 0

  .hljs
    padding 25px

p > code,
a > code {
  background: #F2F7F9 !important;
  color: #256FC7 !important;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1
}
