/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure
  margin 0
  padding 0

*
  box-sizing border-box

.noscroll
  margin: 0
  height: 100%
  overflow: hidden

$clearfix
  &after
    content ""
    display table
    clear both

html
  height: 100%

body
  font baseFontWeight baseFontSize / baseLineHeight bodyFont
  -webkit-font-smoothing antialiased
  color textColor
  background-color background-color
  -webkit-text-size-adjust 100%
  -webkit-font-feature-settings "kern" 1
  -moz-font-feature-settings "kern" 1
  -o-font-feature-settings "kern" 1
  font-feature-settings "kern" 1
  font-kerning normal
  min-height: 100%;
  display: flex;
  flex-direction: column;

body > div.page-content
  flex: 1

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
$vertical-rhythm
  margin-bottom spacingUnit / 2

/**
 * Images
 */
img
  max-width 100%
  vertical-align middle

/**
 * Figures
 */
figure > img
  display block

figcaption
  font-size smallFontSize

/**
 * Lists
 */
ul, ol
  margin-left spacingUnit

li
  > ul,
  > ol
    margin-bottom 0

li
  margin: 15px 0

ol
  @media screen and (max-width: 767px)
    margin: 0

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6
  font-weight baseFontWeight

/**
 * Links
 */
a
  text-decoration none

/**
 * Blockquotes
 */
blockquote
  color grey-color
  border-left 4px solid grey-color-light
  padding-left spacingUnit / 2
  font-size 18px
  letter-spacing -1px
  font-style italic

  > last-child
    margin-bottom 0

/**
 * Code formatting
 */
pre,
code
  font-size 15px
  border 1px solid grey-color-light
  border-radius 3px

pre
  overflow-x auto

  > code
    border 0
    padding-right 0
    padding-left 0

/**
 * Icons
 */
.icon
  > svg
    display inline-block
    width 16px
    height 16px
    vertical-align middle

    path
      fill lighten(mainColor, 50%)
