.column-open-source
  column(2.2 / 4)

.column-other-content
  column(1.8 / 4)
  margin-top: 250px;

+below(desktop)
  .column-open-source,
  .column-other-content
    float: none
    width: 100%

  .column-other-content
    margin-top: 30px
