html
  min-height 100%

  @media screen and (max-width: 767px)
    border 0

body
  & ~ object
    display none

h1
  font-family headingFont
  font-weight 100

/**
 * Page content
 */
.page-content
  center(containerMaxWidth, pad = sidePadding)
  width 100%

  @media screen and (max-width: 767px)
    padding-left 20px
    padding-right 20px

  +below(desktop)
    padding-left: 10px
    padding-right: 10px

.page-heading
  font-size 20px

.page-content-with-sidebar-wrapper
  clearfix()

.page-content-with-sidebar
  column(3 / 4)
  padding: 0

  +below(desktop)
    width: 100%
