.posts-list
  margin: 0

  .posts-list-item
    text-align left
    margin: 0 0 30px
    list-style none

  .posts-list-item-link
    display: inline-block

    .post-title
      font-weight: fontWeightBold
      color: textColor

    .post-description
      rem(14px)
      color: veryLightTextColor

      +below(verySmall)
        rem(12px)

  .post-footer
    .data-divisor,
    .post-author,
    .post-date
      display: inline-block
      vertical-align: middle

    .post-date
      rem(12px)
      color: veryLightTextColor
      font-weight: fontWeightBold

    .data-divisor
      display: inline-block
      height: 5px
      margin: 0 3px
      border-radius: 50%
      width: 5px
      background: #dfdfdf

    .post-author
      rem(12px)
      color mainColor
      font-weight: fontWeightSemiBold
      text-decoration: none

    +below(verySmall)
      .post-date
      .post-author
        rem(10px)
