.open-source-header-container
  background-image: linear-gradient(90deg, #dbdbdb 0%, rgb(255, 255, 255) 100%)

.open-source-header-inner-container
  center(containerMaxWidth, pad = sidePadding)
  padding-top: 15px;
  padding-bottom: 15px;

.open-source-title
  color: textColor
  font-weight: fontWeightExtraBold
  rem(30px)
  text-transform: uppercase
