.intro-text-container
  text-align: left
  background-image: linear-gradient( 90deg, rgb(234,234,234) 0%, rgb(255,255,255) 100%)

.intro-text-inner-container
  padding: 70px 0 75px
  center(containerMaxWidth, pad = sidePadding)
  position: relative

.intro-title
  rem(24px)
  font-weight: fontWeightSemiBold
  color: textColor

.intro-text
  rem(18px)
  max-width 370px
  color: lighterTextColor

.octopus-mascot
  position: absolute
  top: 0
  right: 0
  max-width: 573px
  z-index: 2

.ge-letters
  position: absolute
  top: 50%
  transform: translateY(-50%)
  right: 440px
