---
layout: default
---
<article class="post">


    <div class="single-page">

        {% if page.title == 'About' %}
        <div class="about-author about-author--page">
            <img class="about-author__img" src="../assets/images/avatar.jpg">
            <div class="about-author__info">
                <p class="about-author__title">About me</p>
                <p class="about-author__desc">
                    {{ content }}
                </p>
            </div>
        </div>
        {% else %}
        <header class="single-page__header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <div class="single-page__content">
            {{ content }}
        </div>
        {% endif %}
    </div>

</article>
