.disqus-container
    background white
    clear both
    border-radius 4px
    padding 30px
    box-shadow primaryBoxShadow

    @media screen and (max-width: 767px)
        margin-left -20px
        margin-right -20px
        border-radius 0
