<div class="home-section section-posts">
  <h3 class="home-section-title">Últimos posts</h3>
  <ul class="posts-list">
    {% for post in site.posts limit: 3 %}
      {% unless post.categories contains 'work' %}
        {% include blog/post-item.html %}
      {% endunless %}
    {% endfor %}
  </ul>
  <a href="{{site.baseurl}}blog" class="button-mais-trabalhos">
    <div class="button-plus-icon">
      {% include home/svg-plus-circle.html %}
    </div>
    <p class="button-caption">ver todos os posts</p>
  </a>
</div>
