<div class="home-section section-works">

  <h3 class="home-section-title">Trabalhos</h3>
  <ul class="works-list">
    {% for work in site.categories.work limit: 3 %}
      <li class="works-list-item">
        <a href="{{work.link}}" class="works-list-item-link" target="_blank">
          <div class="work-picture-container">
            <img src="assets/images/{{work.image}}" alt="" class="work-picture">
          </div>
          <p class="work-description">{{work.description}}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
  <a href="{{site.baseurl}}trabalhos" class="button-mais-trabalhos">
    <div class="button-plus-icon">
      {% include home/svg-plus-circle.html %}
    </div>
    <p class="button-caption">ver mais trabalhos</p>
  </a>
</div>
